<div ng-controller="ClientPaymentController as form">
	<div class="container-fluid" >
		<form class="form-validate form-horizontal" name="form.clientForm" ng-submit="form.saveData()" novalidate="">

		  <div class="form-group">
		    <label class="col-md-2 control-label">Card Holder's Name</label>
		    <div class="col-md-6">
				<input type="text" class="form-control" placeholder="Name on the card" name="CardName" ng-model="form.client.CardName"/>
		    </div>
		  </div>
	       
	      <div class="form-group">
	        <label class="col-md-2 control-label">Card Number</label>
	        <div class="col-md-10">
	          <div class="row-fluid">
	            <div >
	              <input type="text" class="col-md-2" autocomplete="off" maxlength="4"  title="First four digits" ng-model="form.client.CardNumberPart1"/>
	            </div>
	            <div >
	              <input type="text" class="col-md-2" autocomplete="off" maxlength="4"  title="Second four digits" ng-model="form.client.CardNumberPart2"/>
	            </div>
	            <div >
	              <input type="text" class="col-md-2" autocomplete="off" maxlength="4"  title="Third four digits" ng-model="form.client.CardNumberPart3"/>
	            </div>
	            <div >
	              <input type="text" class="col-md-2" autocomplete="off" maxlength="4"  title="Fourth four digits" ng-model="form.client.CardNumberPart4"/>
	            </div>
	          </div>
	        </div>
	      </div>
		<div class="form-group">
	        <label class="col-md-2 control-label">Expiry Date:</label>
	        <div class="col-md-2">
				<select class="form-control" name="Month" ng-model="form.client.ExpiryMonth" >
	                <option value="">Expiry Month</option>	
	    			<option value="01">January</option>
					<option value="02">February</option>
					<option value="03">March</option>
					<option value="04">April</option>
					<option value="05">May</option>
					<option value="06">June</option>
					<option value="07">July</option>
					<option value="08">August</option>
					<option value="09">September</option>
					<option value="10">October</option>
					<option value="11">November</option>
					<option value="12">December</option>
	          	</select>	
			</div>
			<div class="col-md-2">
				<select class="form-control" name="Year" ng-model="form.client.ExpiryYear" ng-options="year for year in form.cardYears">
	            	<option value="">Expiry Year</option>	
				</select>
			</div>
			<label class="col-md-2 control-label">Card CVV:</label>
	       	<div class="col-md-4">
	              <input class="form-control" name="CVV" autocomplete="off" maxlength="4" title="CVV" ng-model="form.client.CardCvv" />
	        </div>
		</div>
		<div class="form-group">
	            <div class="col-md-6">
	            	<button type="submit" class="btn btn-default" ng-click="$state.go('app.clients')">Close</button>
					<button type="submit" class="btn btn-success" ng-disabled="form.client.$invalid || form.submitted == true">Add Card Details</button>
	            </div>
			    <div class="text-right col-md-6">
				</div>		
	        </div>	
		</form>
	</div>

	<div class="container-fluid" >	
		<div class="panel panel-default">
			<div class="panel-heading">Credit Cards</div>
			<div ng-hide="form.Cards.length" class="EmptyResults p-lg text-center">
				No payment methods found.
			</div>
			<div class="panel-body" ng-show="form.Cards.length">
				<div class="table-responsive">
					<table class="table table-bordered table-hover bg-white">
				      	<tr style="font-weight: bold">
				         	<td  class="text-center">Card Name</td>
				         	<td  class="text-center">Card Type</td>
				         	<td  class="text-center">Card Number</td>
							<td  class="text-center">CVV</td>
				         	<td  class="text-center">Expiry Date</td>
							<td  class="text-center" width="15%"></td>
				      	</tr>
						<tr ng-repeat="card in form.Cards">  
							<td>{{ card.CardName }}</td>
							<td>{{ card.CardType }}</td>
							<td>{{ card.FormattedCardNumber }}</td>
							<td>{{ card.CardCVV || &apos;Not provided&apos; }}</td>
							<td>{{ card.FormattedExpiryDate}}</td>
							<td>
								 <!-- form-->
					            <div ng-show="!rowform.$visible" class="buttons">
					               <button title="Delete" class="btn btn-sm btn-danger" ng-click="deleteEntry(card.Id, $index)">
					                  <em class="fa fa-trash"></em>
					               </button>
					            </div>
							</td>
						</tr>
					</table>
				</div>	
			</div>
		</div>
	</div>
</div>
