<form class="form-horizontal">
   	<div class="form-group">
      	<label class="col-md-2 control-label">Name:</label>
      	<div class="col-md-10">
         	<input type="text" placeholder="Customer name" class="form-control" />
      	</div>
   	</div>
   	<div class="form-group">
      	<label class="col-md-2 control-label">Street Address:</label>
      	<div class="col-md-10">
         	<input type="text" placeholder="Street Address" class="form-control" />
      	</div>
   	</div>
	<div class="form-group">
      	<label class="col-md-2 control-label">Suburb:</label>
      	<div class="col-md-10">
         	<input type="text" placeholder="Suburb" class="form-control" />
      	</div>
   	</div>
	<div class="form-group">
      	<label class="col-md-2 control-label">State:</label>
      	<div class="col-md-10">
         	<input type="text" placeholder="State" class="form-control" />
      	</div>
   	</div>
	<div class="form-group">
      	<label class="col-md-2 control-label">PostCode:</label>
      	<div class="col-md-10">
         	<input type="text" placeholder="PostCode" class="form-control" />
      	</div>
   	</div>
	<div class="form-group">
      	<label class="col-md-2 control-label">Mobile:</label>
      	<div class="col-md-10">
         	<input type="text" placeholder="Mobile number" class="form-control" />
      	</div>
   	</div>
   	<div class="form-group">
      	<label class="col-md-2 control-label">Alternative Number:</label>
      	<div class="col-md-10">
         	<input type="text" placeholder="Alternative contact number" class="form-control" />
      	</div>
   	</div>
   	<div class="form-group">
      	<label class="col-md-2 control-label">Email:</label>
      	<div class="col-md-10">
         	<input type="text" placeholder="Email" class="form-control" />
      	</div>
   	</div>
	<div class="form-group">
      	<label class="col-md-2 control-label">Customer Type:</label>
      	<div class="col-md-10">
         	<div class="radio c-radio c-radio-nofont">
         			<label>
            			<input type="radio" name="CT" value="R" checked="" />
           				<span></span>Residencial
					</label>
      			</div>
      			<div class="radio c-radio c-radio-nofont">
         			<label>
            			<input type="radio" name="CT" value="C" checked="" />
            			<span></span>Commercial
					</label>
      			</div>
      	</div>
   	</div>

	
	<div class="form-group">
      	<label class="col-lg-2 control-label">Franchise</label>
      	<div class="col-lg-10">
         	<select name="account" class="form-control">
            	<option value="">Select Franchise</option>	
				<option value="NM">North Metro</option>
				<option value="SW">South West</option>
				<option value="TA">Tasmania</option>
      		</select>	
      	</div>
   	</div>
	<div class="form-group">
      	<label class="col-md-2 control-label">Active:</label>
  		<div class="col-md-10">
         	<label class="switch">
         		<input type="checkbox" checked="true" />
         		<span></span>
          	</label>
      	</div>
   	</div>
	
	<div class="form-group">
	    <div class="col-lg-offset-2 col-lg-6">
	    	
	    </div>
	    <div class="text-right col-lg-4">
			<button type="button" class="btn btn-default">Cancel</button>
			<button type="button" class="btn btn-success">Save</button>
		</div>
	</div>
</form>
