<div ng-controller="ClientLeaveController as leaveTable" class="container-fluid">
		<div class="col-lg-12">
			<h4 class="page-header">Leave Schedule</h4>
			<div class="col-md-12" style="padding-bottom: 5px">
				<button type="button" class="btn btn-primary pull-right" ng-click="leaveTable.addData()">
					<em class="fa fa-plus-circle fa-fw mr-sm"></em>New Leave Dates
				</button>

			</div>
			<div ng-hide="leaveTable.listOfLeave.length" class="EmptyResults p-lg text-center">
				No leave dates found.  <a href="" ng-click="leaveTable.addData()">Please add</a> a new leave date range.
			</div>
			<div class="table-responsive col-md-12" ng-show="leaveTable.listOfLeave.length"> 
				<table datatable="ng" class="table table-bordered table-hover bg-white">
			      	<thead>
			         	<th  style="width:35%" class="text-center">Start Date</th>
			         	<th  style="width:35%" class="text-center">End Date</th>
						<th  style="width:35%" class="text-center">Advised Date</th>
						<th  style="width:10%" class="text-center"></th>
			      	</thead>
					<tbody>
						<tr ng-repeat="leave in leaveTable.listOfLeave">  
							<td>{{leave.StartDate}}
								<span editable-date="leave.StartDate" e-name="StartDate" e-form="rowform" onbeforesave="leaveTable.validateData($data, 'Start Date')" e-required="">{{ leave.StartDateFormatted || &apos;Not set&apos; }}</span>
							</td>
							<td>
								<span editable-date="leave.EndDate" e-name="EndDate" e-form="rowform" onbeforesave="leaveTable.validateData($data, 'End Date')" e-required="">{{ leave.EndDateFormatted || &apos;Not set&apos; }}</span>
							</td>
							<td>
							<td style="white-space: nowrap">
								<!-- form-->
					            <form editable-form="" name="rowform" onbeforesave="leaveTable.saveData($data, leave.Id, leave.IsNewItem)" ng-show="rowform.$visible" shown="leaveTable.inserted == leave" class="form-buttons form-inline">
					               <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-success">
					                  <em class="fa fa-save"></em>
					               </button>
					               <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-sm btn-default">
					                  <em class="fa fa-times"></em>
					               </button>
					            </form>
					            <div ng-show="!rowform.$visible" class="buttons">
					               <button ng-click="rowform.$show();" title="Edit" class="btn btn-sm btn-info">
					                  <em class="fa fa-pencil"></em>
					               </button>
					               <button  title="Delete" class="btn btn-sm btn-danger" ng-click="leaveTable.removeLeave(leave.Id, $index)">
					                  <em class="fa fa-trash"></em>
					               </button>
					            </div>
					         </td>
						</tr>
					</tbody>
				</table>
			</div>	
		</div>
	</div>