@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}

<div class="content-heading">
	<button type="button" class="btn btn-primary pull-right">
      	<em class="fa fa-plus-circle fa-fw mr-sm"></em>New Customer
	</button>
    
    {{ 'pageTitles.clients.CLIENT_DETAILS' | translate }}: @TempData["ClientName"]
</div>

<div class="panel panel-default">
	<div class="panel-body">
		<div class="col-xs-6">
			<button  class="btn btn-danger">Cancel today's clean</button>
			<button  class="btn btn-success">Process Payment</button>
			<button  class="btn btn-info">Contact Customer</button>
			<!--<button ng-click="$state.go('app.clients')" class="btn btn-info">Find Vacancies</button>
			<button ng-click="$state.go('app.clients')" class="btn btn-info">Current Customers</button>-->
		</div>
		<div class="text-right col-xs-6">
			<button ng-click="$state.go('app.clients')" class="btn btn-warning">Find Different Customer</button>
			<button ng-click="$state.go('app.cleaner_details')" class="btn btn-warning">Return to Cleaners</button>
		</div>
	</div>
</div>

<uib-tabset justified="true">
  	<uib-tab>
     	<uib-tab-heading>Job Details</uib-tab-heading>
		@{
        	Html.RenderPartial("_CustomerJob");   
    	}
	</uib-tab>
	<uib-tab>
     	<uib-tab-heading>Customer Details</uib-tab-heading>
		@{
        	Html.RenderPartial("_CustomerDetails");   
    	}
	</uib-tab>
  	<uib-tab>
        <uib-tab-heading>Payments</uib-tab-heading>
		@{
        	Html.RenderPartial("_CustomerPayment");   
    	}
  	</uib-tab>
  	<uib-tab>
		<uib-tab-heading>Vacations</uib-tab-heading>
		@{
        	Html.RenderPartial("_CustomerHolidays");   
    	}
  	</uib-tab>
	<uib-tab>
     	<uib-tab-heading>Communication Log</uib-tab-heading>
		@{
        	Html.RenderPartial("_CustomerComms");   
    	}
  	</uib-tab>	
	<uib-tab>
     	<uib-tab-heading>Job History</uib-tab-heading>
		@{
        	Html.RenderPartial("_CustomerHistory");   
    	}
  	</uib-tab>	
</uib-tabset>