<form class="form-horizontal">
   	<fieldset class="form-group">
		<div class="text-center table-responsive">
			<table class="table table-bordered table-hover bg-white">
		      	<tr style="font-weight: bold">
		         	<td class="text-center"></td>
		         	<td class="text-center">Start Time</td>
		         	<td class="text-center">Finish Time</td>
		         	<td class="text-center"># of Cleaners</td>
		      	</tr>
				<tr >
					<td>Mon</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<select class="form-control" >
							<option>1</option>
							<option>2</option>
						</select>
					</td>
				</tr>
				<tr >
					<td>Tue</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<select class="form-control" >
							<option>1</option>
							<option>2</option>
						</select>
					</td>
				</tr>
				<tr >
					<td>Wed</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<select class="form-control" >
							<option>1</option>
							<option>2</option>
						</select>
					</td>
				</tr>
				<tr >
					<td>Thu</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<select class="form-control" >
							<option>1</option>
							<option>2</option>
						</select>
					</td>
				</tr>
				<tr >
					<td>Fri</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<select class="form-control" >
							<option>1</option>
							<option>2</option>
						</select>
					</td>
				</tr>
				<tr >
					<td>Sat</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<select class="form-control" >
							<option>1</option>
							<option>2</option>
						</select>
					</td>
				</tr>
				<tr >
					<td>Sun</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<div uib-timepicker="uib-timepicker" show-meridian="tp.ismeridian"></div>
					</td>
					<td>
						<select class="form-control" >
							<option>1</option>
							<option>2</option>
						</select>
					</td>
				</tr>
			</table>
		</div>	
	</fieldset>

	<div class="form-group">
	    <div class="col-lg-offset-2 col-lg-6">
	    	
	    </div>
	    <div class="text-right col-lg-4">
			<button type="button" class="btn btn-default">Cancel</button>
			<button type="button" class="btn btn-success">Save</button>
		</div>
	</div>
</form>

