<form class="form-horizontal">
	<fieldset class="form-group">
		<legend>Templates</legend>
		<div class="table-responsive">
			<table class="table table-bordered table-hover bg-white ctable">
		      	<tr style="font-weight: bold">
		         	<td style="width:50%" class="text-center">Template</td>
		         	<td style="width:20%" class="text-center">Date Created</td>
		         	<td style="width:20%" class="text-center">Date Sent</td>
					<td style="width:10%" class="text-center"></td>
		      	</tr>
				<tr>
					<td>Turnover report</td>
					<td>22/01/2016</td>
					<td>01/02/2017</td>
					<td style="white-space: nowrap">
						<div class="buttons">
							<button title="Schedule" class="btn btn-xs btn-info">
			                  	<em class="fa fa-envelope-o"></em>
			               	</button>
							<button title="Preview" class="btn btn-xs btn-warning">
			                  	<em class="fa fa-file-text-o"></em>
			               	</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</fieldset>

	<fieldset class="form-group">
		<legend>Scheduled</legend>
		<div class="table-responsive">
			<table class="table table-bordered table-hover bg-white ctable">
		      	<tr style="font-weight: bold">
		         	<td style="width:50%" class="text-center">Message</td>
					<td style="width:20%" class="text-center">Message Type</td>
		         	<td style="width:20%" class="text-center">Date Sent</td>
					<td style="width:10%" class="text-center"></td>
		      	</tr>
				<tr>
					<td>Leave notification</td>
					<td>SMS</td>
					<td>01/02/2017</td>
					<td style="white-space: nowrap">
						<div class="buttons">
							<button title="Preview" class="btn btn-xs btn-warning">
			                  	<em class="fa fa-file-text-o"></em>
			               	</button>
							<button title="Delete" class="btn btn-xs btn-danger">
			                  	<em class="fa fa-trash"></em>
			               	</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</fieldset>

	<fieldset class="form-group">
		<legend>Historic Logs</legend>
		<div class="table-responsive">
			<table class="table table-bordered table-hover bg-white ctable">
		      	<tr style="font-weight: bold">
		         	<td style="width:50%" class="text-center">Message</td>
					<td style="width:20%" class="text-center">Message Type</td>
		         	<td style="width:20%" class="text-center">Date Sent</td>
					<td style="width:10%" class="text-center"></td>
		      	</tr>
				<tr>
					<td>Leave notification</td>
					<td>SMS</td>
					<td>01/02/2017</td>
					<td style="white-space: nowrap">
						<div class="buttons">
							<button title="Preview" class="btn btn-xs btn-warning">
			                  	<em class="fa fa-file-text-o"></em>
			               	</button>
						</div>
					</td>
				</tr>
			</table>
		</div>
	</fieldset>
   	
	<div class="form-group">
	    <div class="col-xs-offset-2 col-xs-6">
	    	
	    </div>
	    <div class="text-right col-xs-4">
			<button type="button" class="btn btn-default">Cancel</button>
			<button type="button" class="btn btn-success">Save</button>
		</div>
	</div>
</form>
