<div class="container-fluid" ng-controller="CleanerAvailabilityController as form">
	<div class="col-lg-12">
		<h4 class="page-header">Weekly Roster</h4>
		<form class="form-validate form-horizontal" name="form.cleanerRosterForm" novalidate="">
			<div class="table-responsive"> 
				<!--<pre>
					form.cleanerRoster= {{form.cleanerRoster | json}}
				</pre>-->
				<table class="table table-bordered table-hover bg-white">
			      	<tr style="font-weight: bold">
			         	<td  class="text-center">Week Day</td>
						<td  class="text-center">Available?</td>
			         	<td  class="text-center">Start Time</td>
						<td  class="text-center">End Time</td>	
						<td  class="text-center"># of Cleaners</td>
			      	</tr>
					<tr ng-repeat="roster in form.cleanerRoster">
						<td><input type="text" class="form-control no-border" ng-model="roster.Weekday" ng-readonly="true" /></td>
						<td align="center">
							<div class="checkbox c-checkbox">
		                  		<label>
		                     		<input type="checkbox" checked="false" name="enableRosterDay" id="enableRosterDay" ng-model="roster.IsActive" ng-change="cleanerRosterChanged(roster)"/>
		                     		<span class="fa fa-check"></span>
								</label>
		               		</div>
						</td>
						<td align="center">
							<div uib-timepicker="uib-timepicker" ng-model="roster.StartTime" ng-disabled="roster.IsActive != true" hour-step="form.hrStep" minute-step="form.minStep" show-meridian="form.isMeridian"></div>
						</td>
						<td align="center">
							<div uib-timepicker="uib-timepicker" ng-model="roster.EndTime"  ng-disabled="roster.IsActive != true" hour-step="form.hrStep" minute-step="form.minStep" show-meridian="form.isMeridian"></div>
						</td>
						<td align="center">
							<select class="form-control" ng-model="roster.TeamCount" ng-name="opt" ng-options="opt for opt in Range()" ng-disabled="roster.IsActive != true" ></select>
						</td>
					</tr>
				</table>
				<br/>
			</div>
			<div class="form-group">
	            <div class="col-md-6">
	            	<button type="submit" class="btn btn-default" ng-click="$state.go('app.dashboard')">Close</button>
					<button type="submit" class="btn btn-success" ng-disabled="form.cleaner.$invalid || form.submitted == true" ng-click="form.saveData()">Save Roster</button>
	            </div>
			    <div class="text-right col-md-6">
				</div>		
	        </div>	
		</form>
	</div>
	<div class="col-lg-12">
		<h4 class="page-header">Leave Schedule</h4>
		<div ng-hide="form.cleanerLeave.length" class="EmptyResults p-lg text-center">
					No leave entered yet.  <a href="" ng-click="openTeamLeavePopupForm()">Click here</a>
					to add team leave details.
				</div>
				<div class="table-responsive" ng-show="form.cleanerLeave.length"> 
					<table class="table table-bordered table-hover bg-white">
				      	<tr style="font-weight: bold">
				         	<td  class="text-center">Start Date</td>
				         	<td  class="text-center">End Date</td>
							<td  class="text-center"></td>	
							<td  class="text-center"></td>
				      	</tr>
						<tr ng-repeat="leave in form.cleanerLeave">  
							<td>{{leave.StartDate}}</td>
							<td>{{leave.EndDate}}</td>
							<td>
								 <!-- form-->
					            <div ng-show="!rowform.$visible" class="buttons">
									<button type="button" class="btn btn-warning" ng-click="searchCustomers(leave)">Search affected customers</button>
								</div>
							</td>
							<td>
								 <!-- form-->
					            <div ng-show="!rowform.$visible" class="buttons">
					               <button type="button" title="Edit" class="btn btn-sm btn-info" ng-click="openTeamLeavePopupForm(leave)" >
					                  <em class="fa fa-pencil"></em>
					               </button>
					               <button  type="button" title="Delete" class="btn btn-sm btn-danger" ng-click="deleteTeamLeave(leave.Id, $index)" >
					                  <em class="fa fa-trash"></em>
					               </button>
					            </div>
							</td>
						</tr>
					</table>
				</div>	<br/>
				<!-- buttons-->
		    	<button ng-click="openTeamLeavePopupForm()" class="btn btn-primary" type="button">Add Team Leave</button>
	</div>
</div>
