@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}  

<div class="content-heading"  ng-controller="MasterCleanerHeaderController">
	<button type="button" ng-click="addNewCleaner()" class="btn btn-primary pull-right">
      	<em class="fa fa-plus-circle fa-fw mr-sm"></em>New Cleaner
	</button>
    {{ 'pageTitles.cleaners.CLEANER_DETAILS' | translate }}
	<small>Create or edit cleaner details</small>
</div>

<div ng-controller="MasterCleanerController">
	@Html.Partial("_InformationDetails")

	<div class="panel panel-primary">
		<div class="panel-body">
			<div class="col-xs-6">
				<button onclick="alert('Coming soon!'); return false;" class="btn btn-info">View Diary</button>
				<button onclick="alert('Coming soon!'); return false;" ng-click="$state.go('app.clients')" class="btn btn-info">Find Vacancies</button>
				<button onclick="alert('Coming soon!'); return false;" ng-click="$state.go('app.clients')" class="btn btn-info">Current Customers</button>
				<button onclick="alert('Coming soon!'); return false;"  class="btn btn-info">Contact Cleaner</button>
			</div>
			<div class="text-right col-xs-6">
				<button ng-click="$state.go('app.cleaners')" class="btn btn-warning">Find Different Cleaners</button>
				<button ng-click=" $state.go('app.clients')" class="btn btn-warning">Return to Customers</button>
			</div>
		</div>
	</div>	
	<div class="panel panel-default" id="panelCleanerDetails">
		<div class="panel-heading">
	        <paneltool tool-refresh="traditional" ng-show="isLoadingResults"></paneltool>
			<div class="alert bg-purple" ng-show="DataRecordStatus.IsNewDataRecord">
				The disabled tabs will be activated once the new Cleaner has been created.
            </div>
	    </div>
		<div class="panel-body">
			<uib-tabset justified="true">
			  	<uib-tab index="0">
			     	<uib-tab-heading>Cleaner Details</uib-tab-heading>
					@{
			        	Html.RenderPartial("_CleanerDetails");   
			    	}
				</uib-tab>
			  	<uib-tab index="1" disable="DataRecordStatus.IsNewDataRecord">
			        <uib-tab-heading>Availability</uib-tab-heading>
			        @{
			        	Html.RenderPartial("_CleanerAvailability");   
			    	}
			  	</uib-tab>
			  	<uib-tab index="2" disable="true">
					<uib-tab-heading>Communication Log</uib-tab-heading>
			        @{
			        	Html.RenderPartial("_CleanerComms");   
			    	}
			  	</uib-tab>
				<uib-tab index="3" disable="true">
			     	<uib-tab-heading>Documentation</uib-tab-heading>
			     	@{
			        	Html.RenderPartial("_CleanerDocumentation");   
			    	}
			  	</uib-tab>	
				<uib-tab index="4" disable="true">
			     	<uib-tab-heading>Job History</uib-tab-heading>
			     	@{
			        	Html.RenderPartial("_CleanerHistory");   
			    	}
			  	</uib-tab>	
			</uib-tabset>
		</div>
	</div>
</div>

