<div class="container-fluid" ng-controller="FranchiseSettingsController as form">
	<form class="form-validate form-horizontal" name="form.franchiseSettingForm" ng-submit="form.saveData()" novalidate="">

		<!--		
		<pre>
			form.franchiseSettingForm.$error = {{form.franchiseSettingForm.$error | json}}
		</pre>
		-->
		
		<fieldset>
			<div class="form-group">
				<p ng-show="form.franchiseSettings.HasCustomRoyaltyValues">
					The current Master Franchise Royalty for <b>{{form.franchiseSettings.Name}}</b> is <b>{{form.franchiseSettings.CurrentRoyaltyFeePercentage}}%</b> (Default: {{form.franchiseSettings.DefaultRoyaltyFeePercentage}}%).
				</p>
				<p ng-show="!form.franchiseSettings.HasCustomRoyaltyValues">
					<b>{{form.franchiseSettings.Name}}</b> uses the default Master Franchise Royalty: <b>{{form.franchiseSettings.DefaultRoyaltyFeePercentage}}%</b>.
				</p>
				<p ng-show="form.franchiseSettings.HasCustomManagementValues">
					The current Master Franchise Management Fee for <b>{{form.franchiseSettings.Name}}</b> is <b>{{form.franchiseSettings.CurrentManagementFeePercentage}}%</b> (Default: {{form.franchiseSettings.DefaultManagementFeePercentage}}%).
				</p>
				<p ng-show="!form.franchiseSettings.HasCustomManagementValues">
					<b>{{form.franchiseSettings.Name}}</b> uses the default Master Franchise Management Fee: <b>{{form.franchiseSettings.DefaultManagementFeePercentage}}%</b>.
				</p>
				<p>
					The values can be customised below specifically for the current Master Franchise. To revert to default values, simply clear the custom values and save.
				</p>
			</div>
		</fieldset>
		<fieldset>
			<div class="form-group">
	          	<label class="col-lg-2 control-label">Master Franchise Royalty (%)</label>
	          	<div class="col-lg-10"> 
					<input type="number" placeholder="Custom royalty fee for current Master Franchise" class="form-control" name="RoyaltyFeePercentage" ng-model="form.franchiseSettings.RoyaltyFeePercentage" />
					<!--<span class="text-danger" ng-show="form.validateInput('ManagementFeePercentage', 'number')">This field must be a valid numeric percentage</span>-->
	          	</div>
	       	</div>
		</fieldset>

		<fieldset>
			<div class="form-group">
	          	<label class="col-lg-2 control-label">Management Fee (%)</label>
	          	<div class="col-lg-10"> 
					<input type="number" placeholder="Custom management fee for current Master Franchise" class="form-control" name="ManagementFeePercentage" ng-model="form.franchiseSettings.ManagementFeePercentage" />
					<!--<span class="text-danger" ng-show="form.validateInput('ManagementFeePercentage', 'number')">This field must be a valid numeric percentage</span>-->
	          	</div>
	       	</div>	
		</fieldset>
       	
		<div class="form-group">
            <div class="col-lg-offset-2 col-lg-6">
            	<button type="submit" class="btn btn-default" ng-click="$state.go('app.settings_master_franchises')" ng-disabled="{{ form.franchiseSettings.submitted }}">Close</button>
          		<button type="submit" class="btn btn-success" ng-disabled="form.franchiseSettings.$invalid || form.franchiseSettings.submitted == true">Save Settings</button>
            </div>
		    <div class="text-right col-lg-4">
			
			</div>		
        </div>	
	</form>
</div>