<div class="container-fluid" ng-controller="FranchiseDetailController as form">
	<form class="form-validate form-horizontal" name="form.franchiseForm" ng-submit="form.saveData()" novalidate="">
		<!--		
		<pre>
			form.franchiseForm.$error = {{form.franchiseForm.$error | json}}
		</pre>
		-->

	       <div class="form-group">
	          <label class="col-xs-2 control-label">Franchise Name</label>
	          <div class="col-xs-4">
	             <input type="text" placeholder="Franchise name" class="form-control" name="name"  ng-model="form.franchise.Name"/>
	          </div>
	          <label class="col-xs-2 control-label">Trading As</label>
	          <div class="col-xs-4">
	             <input type="text" placeholder="Trading name" class="form-control" name="tradingname"  ng-model="form.franchise.TradingName" />
	          </div>
	       </div>
	        <div class="form-group">
	          <label class="col-xs-2 control-label">Franchise Code</label>
	          <div class="col-xs-4">
	             <input type="text" placeholder="Franchise code" class="form-control" name="masterfranchisecode"  ng-model="form.franchise.MasterFranchiseCode" />
	          </div>
	          <label class="col-xs-2 control-label">Code of Conduct URL</label>
	          <div class="col-xs-4"> 
				<input type="text" placeholder="Code of conduct" class="form-control" name="CodeOfConductURL"  ng-model="form.franchise.CodeOfConductURL"/>
	          </div>
	       	</div>	
			<div class="form-group">
	          <label class="col-xs-2 control-label">Email</label>
	          <div class="col-xs-4">
	             <input type="email" placeholder="Email" class="form-control" name="emailaddress" ng-model="form.franchise.EmailAddress" />
				 <span class="text-danger" ng-show="form.validateInput('emailaddress', 'email')">This field must be a valid email address</span>
	          </div>
	          <label class="col-xs-2 control-label">Metropolitan Region</label>
	          <div class="col-xs-4">
	             <input type="text" placeholder="Region" class="form-control"  name="MetroRegion"  ng-model="form.franchise.MetroRegion"/>
	          </div>

	       </div>	
			<div class="form-group">
			  	<label class="col-xs-2 control-label">Contact Numbers</label>
				<div class="col-xs-3">
					<input type="text"  placeholder="Office" class="form-control"  name="BusinessPhoneNumber" ng-model="form.franchise.BusinessPhoneNumber"/>
				</div>		
				<div class="col-xs-3">
					<input type="text"  placeholder="Mobile" class="form-control"  name="MobileNumber"  ng-model="form.franchise.MobileNumber"/>
				</div>
				<div class="col-xs-4">
					<input type="text"  placeholder="Other" class="form-control"  name="OtherNumber"  ng-model="form.franchise.OtherNumber"/>
				</div>	
			</div>


		   	<div class="form-group">
         		<div class="col-xs-6">
					<div class="panel panel-primary" id="panelPhysical">
						<div class="panel-heading">Physical Address</div>
     					<div class="panel-body">
							<div class="col-xs-12">
								<div class="form-group">
									<input type="text"  placeholder="Address line 1" class="form-control" name="Phys_AddressLine1" ng-model="form.franchise.PhysicalAddress.AddressLine1"/>
								</div>
								<div class="form-group">
									<input type="text"  placeholder="Address line 2" class="form-control" name="Phys_AddressLine2" ng-model="form.franchise.PhysicalAddress.AddressLine2"/>
								</div>
								<div class="form-group">
									<input type="text"  placeholder="Suburb" class="form-control" name="Phys_Suburb" ng-model="form.franchise.PhysicalAddress.Suburb"/>
								</div>
								<div class="form-group">
									<select class="form-control" name="Phys_State" ng-model="form.franchise.PhysicalAddress.State"  ng-init="Phys_State='WA'">
					                    <option value="">Select State</option>	
			                			<option value="ACT">ACT</option>
										<option value="NT">NT</option>
										<option value="QLD">QLD</option>
										<option value="SA">SA</option>
										<option value="TAS">TAS</option>
										<option value="VIC">VIC</option>
										<option value="WA">WA</option>
				                  	</select>	
								</div>
								<div class="form-group">
									<div class="col-xs-6 nopadding">
										<input type="text" placeholder="Postcode" class="form-control" name="Phys_PostCode" ng-model="form.franchise.PhysicalAddress.PostCode"/>
									</div>
									<div class="col-xs-6"></div>
								</div>
								<div class="form-group">
									<input type="text"  placeholder="Country" class="form-control" name="Phys_Country"  ng-model="form.franchise.PhysicalAddress.Country" disabled="true" ng-init="Phys_Country='Australia'"/>
								</div>
								<div class="checkbox c-checkbox">
			                  		<label>
			                     		<input type="checkbox" checked="false" name="CopyToPostal" id="CopyToPostal" ng-model="CopyToPostal"/>
			                     		<span class="fa fa-check"></span>Use same address for postal address
									</label>
			               		</div>
							</div>
						</div>
					</div>
				</div>
					
				<div class="col-xs-6">
					<div class="panel panel-green" id="panelPostal" ng-show="!CopyToPostal">
						<div class="panel-heading">Postal Address</div>
     					<div class="panel-body">
							<div class="col-xs-12">
								<div class="form-group">
									<input type="text"  placeholder="Address line 1" class="form-control" name="Post_AddressLine1" ng-model="form.franchise.PostalAddress.AddressLine1"/>
								</div>
								<div class="form-group">
									<input type="text"  placeholder="Address line 2" class="form-control" name="Post_AddressLine2" ng-model="form.franchise.PostalAddress.AddressLine2"/>
								</div>
								<div class="form-group">
									<input type="text"  placeholder="Suburb" class="form-control" name="Post_Suburb" ng-model="form.franchise.PostalAddress.Suburb"/>
								</div>
								<div class="form-group">
									<select  class="form-control" name="Post_State" ng-model="form.franchise.PostalAddress.State" ng-init="Post_State='WA'">
					                    <option value="">Select State</option>	
			                			<option value="ACT">ACT</option>
										<option value="NT">NT</option>
										<option value="QLD">QLD</option>
										<option value="SA">SA</option>
										<option value="TAS">TAS</option>
										<option value="VIC">VIC</option>
										<option value="WA">WA</option>
				                  	</select>	
								</div>
								<div class="form-group">
									<div class="col-xs-6 nopadding">
										<input type="text" placeholder="Postcode" class="form-control" name="Post_PostCode" ng-model="form.franchise.PostalAddress.PostCode"/>
									</div>
									<div class="col-xs-6"></div>
								</div>
								<div class="form-group">
									<input type="text"  placeholder="Country" class="form-control" name="Post_Country" ng-model="form.franchise.PostalAddress.Country" ng-init="Post_Country='Australia'" disabled="true"/>
								</div>
								<div class="checkbox c-checkbox"></div>
							</div>
						</div>
					</div>
				</div>
			</div>
	       	

			<div class="form-group">
	            <div class="col-xs-4">
	            	<button type="submit" class="btn btn-default" ng-click="$state.go('app.settings_master_franchises')" ng-disabled="{{ form.franchise.submitted }}">Close</button>
	          		<button type="submit" class="btn btn-success" ng-disabled="form.franchise.$invalid || form.franchise.submitted == true">Save Details</button>
	            </div>
				<div class="col-xs-4" >
					<label class="col-xs-6 control-label">Active</label>
		          	<div class="col-xs-6">
		             	<label class="switch">
		             		<input type="checkbox" name="IsActive" ng-model="form.franchise.IsActive"   />
			             	<span></span>
			          	</label>
			          </div>
				</div>
			    <div class="text-right col-xs-4">
					<button type="submit" class="btn btn-warning" onclick="alert('Not ready yet'); return false;" ng-disabled="form.franchise.submitted == true">View current Cleaners</button>
					<!--ng-click="$state.go('app.cleaners')"	-->
				</div>		
	        </div>	
    </form>
</div> 
