@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Connection Validator</title>
</head>
<body>
	<div><pre>@TempData["results"]</pre></div>

	<div><pre>Execution Time: @TempData["timer"]</pre></div>
</body>
</html>

