@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}

<div class="content-heading">
    {{ 'pageTitles.settings.MASTER_FRANCHISE_REGISTER' | translate }}<br/>
	<small>Create or edit master franchise details</small>
</div>

<div ng-controller="MasterSettingsController">
	@Html.Partial("_InformationDetails")
		
	<div class="panel panel-default" id="panelDataMasterSettings">
	    <div class="panel-heading">
	        <paneltool tool-refresh="traditional" ng-show="isLoadingResults"></paneltool>
	    </div>
	    <div class="panel-body">
			<div class="alert bg-purple" ng-show="DataRecordStatus.IsNewDataRecord">
				The disabled tabs will be activated once the new Master Franchise has been created.
            </div>
	        <uib-tabset justified="true" active="0">
			  	<uib-tab index="0">
			     	<uib-tab-heading>Franchise Details</uib-tab-heading>
					@{
			        	Html.RenderPartial("_FranchiseDetails");   
			    	}
				</uib-tab>
			  	<uib-tab index="1" disable="DataRecordStatus.IsNewDataRecord">
			     	<uib-tab-heading>Custom Values</uib-tab-heading>
					@{
			        	Html.RenderPartial("_FranchiseSettings");   
			    	}
				</uib-tab>
				<uib-tab index="2" disable="DataRecordStatus.IsNewDataRecord" select="loadPostcodeData()">
			     	<uib-tab-heading>Suburb/Zone Mappings</uib-tab-heading>
					@{
			        	Html.RenderPartial("_SettingsPostcodes");   
			    	}
				</uib-tab>
				<uib-tab index="3" disable="DataRecordStatus.IsNewDataRecord" select="loadRatesData()">
			     	<uib-tab-heading>Rates</uib-tab-heading>
					@{
			        	Html.RenderPartial("_SettingsRates");   
			    	}
				</uib-tab>
			</uib-tabset>
	    </div>
	</div>
</div>