@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}

<div class="content-heading">
    {{ 'pageTitles.settings.MASTER_FRANCHISE_REGISTER' | translate }}<br/>
	<small>Create or edit master franchise details</small>
</div>

<div ng-controller="MasterSettingsController">
	@Html.Partial("_InformationDetails")
		
	<div class="panel panel-default" id="panelDataMasterSettings">
	    <div class="panel-heading">
	        <paneltool tool-refresh="traditional" ng-show="isLoadingResults"></paneltool>
	    </div>
	    <div class="panel-body">
	        <uib-tabset justified="true">
			  	<uib-tab>
			     	<uib-tab-heading>Franchise Details</uib-tab-heading>
					@{
			        	Html.RenderPartial("_FranchiseDetails");   
			    	}
				</uib-tab>
			  	<uib-tab>
			     	<uib-tab-heading>Custom Values</uib-tab-heading>
					@{
			        	Html.RenderPartial("_FranchiseSettings");   
			    	}
				</uib-tab>
				<uib-tab>
			     	<uib-tab-heading>Suburb/Zone Mappings</uib-tab-heading>
					@{
			        	Html.RenderPartial("_SettingsPostcodes");   
			    	}
				</uib-tab>
				<uib-tab>
			     	<uib-tab-heading>Rates</uib-tab-heading>
					@{
			        	Html.RenderPartial("_SettingsRates");   
			    	}
				</uib-tab>
			</uib-tabset>
	          
	    </div>
	</div>
</div>