@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}
<div class="content-heading">
	{{ 'pageTitles.settings.LOG_ENTRIES' | translate }}
	<small>View application logs</small>
</div>

<div class="container-fluid" ng-controller="LogEntriesController as table">

	@Html.Partial("_InformationDetails")

	<div class="panel panel-transparent" id="panelApplicationLogs">
		<div class="panel-heading">
			<paneltool tool-refresh="traditional" ng-show="isLoadingResults"></paneltool>
			<div style="padding-bottom: 5px">
				<button type="submit" class="btn btn-danger pull-right" ng-click="clearLogEntries()" ng-disabled="table.disableButtons" >Clear Logs</button>
			</div><br/>
		</div>
		<div class="panel-body">
			<div ng-hide="table.listOfLogs.length" class="EmptyResults p-lg text-center">
				No application logs found.
			</div>
			<div class="table-responsive" ng-show="table.listOfLogs.length">
				<table datatable="ng" class="table table-bordered table-hover bg-white ctable" dt-options="dtOptions">
			      	<thead style="font-weight: bold">
			         	<th class="text-center">Level</th>
						<th class="text-center">Date</th>
			         	<th class="text-center">Message</th>
						<th class="text-center">Addresses</th>
						<th style="width:2%" class="text-center"></th>
			      	</thead>
					<tbody>
						<tr valign="top" ng-repeat="item in table.listOfLogs">
							<td class="" ng-class="{'bg-warning': item.Level=='WARNING',
									'bg-danger': item.Level=='ERROR',
									'bg-success': item.Level=='INFO'}">{{ item.Level }}</td>
							<td>{{ item.LoggedDate }}</td>
							<td>{{ item.Message.substr(0,120) }}<br/><small>{{item.Exception}}</small></td>
							<td style="white-space: nowrap; font-size: 11px;" ng-bind-html="item.FormattedAddresses"></td>
							<td style="white-space: nowrap">
					            <!-- form-->
					            <div class="buttons">
								    <a ui-sref="app.settings_app_logsentry({ Id: item.Id })">
					               	<button title="View" class="btn btn-sm btn-warning">
				                  		<em class="fa fa-file-text-o"></em>
				               		</button>
									</a>
									<button  title="Delete" class="btn btn-sm btn-danger" ng-click="deleteEntry(item.Id, $index)">
			                  			<em class="fa fa-trash"></em>
		               				</button>
					            </div>
					         </td>
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</div>	

