@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}

<div class="content-heading">
    {{ 'pageTitles.settings.MASTER_SETTINGS' | translate }}
	<small>Customise the Franchisor default values and settings. Where applicable the values can be customised for individual Master Franchises under the franchise's settings.</small>
</div>

<div ng-controller="MasterSettingsController">
	@Html.Partial("_InformationDetails")

	<div class="panel panel-flat" id="panelDataMasterSettings">
	    <div class="panel-heading">
	        <paneltool tool-refresh="traditional" ng-show="isLoadingResults"></paneltool>
	    </div>
	    <div class="panel-body">
	        <uib-tabset justified="true">
			  	<uib-tab>
			     	<uib-tab-heading>Default Values</uib-tab-heading>
					@{
			        	Html.RenderPartial("_SettingsMainValues");   
			    	}
				</uib-tab>
			  	<uib-tab select="loadPostcodeData()">
			     	<uib-tab-heading>Suburb/Zone Mappings</uib-tab-heading>
					@{
			        	Html.RenderPartial("_SettingsPostcodes");   
			    	}
				</uib-tab>
				<!--
				<uib-tab  select="loadRatesData()">
			     	<uib-tab-heading>Rates</uib-tab-heading>
					@{
			        	Html.RenderPartial("_SettingsRates");   
			    	}
				</uib-tab>-->
			</uib-tabset>
	          
	    </div>
	</div>
</div>

