@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}

<div class="content-heading">
	{{ 'pageTitles.settings.POSTCODES' | translate }}
	<small>Configure suburb / zone mapping.</small>
</div>

<div ng-controller="PostCodesController as vmPost" class="container-fluid">
	
    @Html.Partial("_InformationDetails")

	<div class="panel panel-default" id="panelFranciseList">
		<div class="panel-body">
			<p>Select franchise to filter the suburb/zone mapping by franchise, or unselect to view common suburb/zones. To customise 
			suburbs and zones for a specific franchise, select the required franchise before adding suburbs.</p>
			<div class="form-group">
		      	<label class="col-lg-2 control-label">Select Franchise:</label>
		      	<div class="col-lg-10">
					<select ng-options="franchise.Name for franchise in vmPost.franchises track by franchise.Id" ng-model="vmPost.selectedFranchise" ng-change="vmPost.loadMapping()" class="form-control">
		                <option value="">--- View common suburbs and zones ---</option>	
		          	</select>	
				</div>
			</div>
		</div>
	</div>

	<div class="panel panel-transparent" id="panelPostalDataSettings">
		<div class="panel-heading">
            <paneltool tool-refresh="traditional" ng-show="isLoadingResults"></paneltool>
			<button type="button" class="btn btn-primary pull-right" ng-click="vmPost.addData()">
  				<em class="fa fa-plus-circle fa-fw mr-sm"></em>New Suburb Zone
			</button><br/>
        </div>
		<div class="panel-body">
			<div class="table-responsive">
				<table class="table table-bordered table-hover bg-white">
			      	<tr style="font-weight: bold">
			         	<td class="text-center">Suburb Name</td>
			         	<td class="text-center">Post Code</td>
			         	<td class="text-center">Zone</td>
			         	<td class="text-center">Neighbour Zones</td>
						<td style="width:10%" class="text-center"></td>
			      	</tr>
					<tr ng-hide="vmPost.listOfPostcodes.length">
						<td colspan="8" class="EmptyResults">No suburb/zone found.  <a href="" ng-click="vmPost.addData()">Please add</a> a new suburb/zone.</td>
					</tr>
					<tr ng-repeat="item in vmPost.listOfPostcodes">
						<td>
			            	<span editable-text="item.SuburbName" e-name="SuburbName" e-form="rowform" onbeforesave="vmPost.validateData($data, 'Suburb name')" e-required="">{{ item.SuburbName || &apos;Not set&apos; }}</span>
			         	</td>
						<td>
							<span editable-text="item.PostCode" e-name="PostCode" e-form="rowform" onbeforesave="vmPost.validateData($data, 'Post code')" e-required="">{{ item.PostCode || &apos;Not set&apos; }}</span>
						</td>
						<td>
							<span editable-text="item.ZoneID" e-name="ZoneID" e-form="rowform" onbeforesave="vmPost.validateData($data, 'Zone Id')" e-required="">{{ item.ZoneID || &apos;Not set&apos; }}</span>
						</td>
						<td>
							<span editable-text="item.LinkedZones" e-name="LinkedZones" e-form="rowform" onbeforesave="vmPost.validateData($data, 'Linked zones')" e-required="">{{ item.LinkedZones || &apos;Not set&apos; }}</span>
						</td>
						<td style="white-space: nowrap">
							 <!-- form-->
				            <form editable-form="" name="rowform" onbeforesave="vmPost.saveData($data, item.Id, item.IsNewItem)" ng-show="rowform.$visible" shown="vmPost.inserted == item" class="form-buttons form-inline">
				               <button type="submit" ng-disabled="rowform.$waiting" title="Save" class="btn btn-sm btn-success">
				                  <em class="fa fa-save"></em>
				               </button>
				               <button type="button" ng-disabled="rowform.$waiting" ng-click="rowform.$cancel()" title="Cancel" class="btn btn-sm btn-default">
				                  <em class="fa fa-times"></em>
				               </button>
				            </form>
				            <div ng-show="!rowform.$visible" class="buttons">
				               <button ng-click="rowform.$show()" title="Edit" class="btn btn-sm btn-info">
				                  <em class="fa fa-pencil"></em>
				               </button>
				               <button  title="Delete" class="btn btn-sm btn-danger" ng-click="vmPost.removeSuburb($index)">
				                  <em class="fa fa-trash"></em>
				               </button>
				            </div>
				         </td>
					</tr>
				</table>
			</div>
		</div>
	</div>
</div>





