@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}
@model IEnumerable<MagicMaids.EntityModels.Rate>

<div class="content-heading">
    {{ 'pageTitles.settings.RATES' | translate }}
</div>

<div class="container-fluid">
   	<h4 class="page-header">Rates & charges</h4>

	<div class="panel panel-default" id="panelPostal">
		<div class="panel-body">
			<div class="form-group">
		      	<label class="col-lg-2 control-label">Select Franchise:</label>
		      	<div class="col-lg-10">
					<select name="account" class="form-control">
		                <option value="">Select Franchise</option>	
						<option value="NM">North Metro</option>
						<option value="SW">South West</option>
						<option value="TA">Tasmania</option>
		          	</select>	
				</div>
			</div>
		</div>
	</div>

	<div class="table-responsive">
		<table class="table table-bordered table-hover bg-white">
	      	<tr style="font-weight: bold">
	         	<td style="width:10%" class="text-center">Rate Code</td>
	         	<td style="width:10%" class="text-center">Hourly Amount</td>
	         	<td style="width:40%" class="text-center">Rate Applications</td>
	         	<td style="width:10%" class="text-center">Active</td>
				<td style="width:20%" class="text-center"></td>
	      	</tr>
			@foreach (var rate in Model)
	    	{
				<tr>
					<td class="text-center">@rate.RateCode</td>
					<td class="text-right">@Html.DisplayFor(r => rate.RateAmount)</td>
					<td>
						@Html.Raw(rate.RateApplicationHtml)
					</td>
					<td class="text-center">
						<label class="switch">
	                     	<input type="checkbox" checked="@rate.IsActive" />
	                     	<span></span>
	                  	</label>
	               	</td>
					<td style="white-space: nowrap">
			            <!-- form-->
			            <div class="buttons">
			               	<a ui-sref="app.settings_rate_manage">
								<button title="Edit" class="btn btn-sm btn-info">
			                  	<em class="fa fa-pencil"></em>
			               		</button>
							</a>
			               <button title="Delete" class="btn btn-sm btn-danger">
			                  <em class="fa fa-trash"></em>
			               </button>
			            </div>
			         </td>
				</tr>
			}
		</table>
		<!-- buttons-->
    	<button ng-click="$state.go('app.settings_rate_manage')" class="btn btn-primary">Add Rate</button>
	</div>
</div>		

