<div class="ngdialog-content" ng-controller="RatesController">
		<form class="form-horizontal">
			<div class="row">
				<label class="control-label">Rate Code</label>
				<input type="text" placeholder="Rate Identifier Code" class="form-control" ng-model="rateData.RateCode" />
			</div>
			<div class="row">
				<label class="control-label">Rate Amount</label>
				<div class="input-group">
					<span class="input-group-addon">$</span>
					<input type="text" placeholder="Rate" class="form-control" ng-model="rateData.RateAmount"/>
				</div>
			</div>
			<div class="row">
				<label class="control-label">Apply Rate Categories</label>
				<ui-select multiple="" ng-model="rateData.SelectedRates.selected" ng-disabled="rateData.disabled" theme="bootstrap">
					<ui-select-match placeholder="Select rate categories.....">{{$item.name}}</ui-select-match>
					<ui-select-choices repeat="item in rateData.AvailableRateApplications | propsFilter: {name: $select.search}">
						<div ng-bind-html="item.name | highlight: $select.search" "></div>
					</ui-select-choices>
				</ui-select>
			</div>
			<div class="row">
				<label class="control-label">Activate</label>&nbsp;&nbsp;
				<label class="switch">
					<input type="checkbox" ng-model="rateData.IsActive" checked="{{rateData.IsActive}}" />
					<span></span>
				</label>
			</div>
			<div class="ngdialog-buttons">
				<button type="button" class="ngdialog-button ngdialog-button-primary" ng-click="saveRatesPopupForm() && closeThisDialog()">Save</button>
				<button type="button" class="ngdialog-button ngdialog-button-secondary" ng-click="closeThisDialog('confirm')">Cancel</button>
			</div>
		</form>
</div>