@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}

<div class="content-heading">
    {{ 'pageTitles.settings.USER_ACCOUNT_MANAGE' | translate }}
</div>


<div class="panel panel-default">
 	<div class="panel-body">
    	<form class="form-horizontal">
       		<div class="form-group">
          		<label class="col-lg-2 control-label">Full Name</label>
          		<div class="col-lg-10">
             		<input type="text" placeholder="Full name and surname" class="form-control" />
          		</div>
       		</div>
       		<div class="form-group">
          		<label class="col-lg-2 control-label">User Name</label>
          		<div class="col-lg-10">
             		<input type="text" placeholder="User name" class="form-control" />
          		</div>
       		</div>

			<div class="form-group">
	          	<label class="col-lg-2 control-label">Select User Account</label>
	          	<div class="col-lg-10">
					@foreach (var item in Enum.GetValues(typeof(MagicDAL.Models.UserAccountTypes)))
					{
						<div class="checkbox c-checkbox needsclick">
                     		<label class="needsclick">
                        		<input type="checkbox" value="@item"  class="needsclick"/>
                        		<span class="fa fa-check"></span>@item
							</label>
                  		</div>
                  	}
				</div>
			</div>

			<div class="form-group">
	          	<label class="col-lg-2 control-label">Franchise</label>
	          	<div class="col-lg-10">
					<select name="account" class="form-control">
	                    <option value="">Select Parent Franchise</option>	
            			<option value="0">-- none --</option>
						<option value="NM">North Metro</option>
						<option value="SW">South West</option>
						<option value="TA">Tasmania</option>
                  	</select>	
				</div>
			</div>
			
			<div class="form-group">
	          	<label class="col-lg-2 control-label">Active</label>
	          	<div class="col-lg-10">
	             	<label class="switch">
	             		<input type="checkbox" checked="true" />
	             		<span></span>
	          		</label>
	          	</div>
	       	</div>	

			<div class="form-group">
	            <div class="col-lg-offset-2 col-lg-6">
	            	<button type="submit" class="btn btn-default" ng-click="$state.go('app.settings_user_accounts')">Cancel</button>
              		<button type="submit" class="btn btn-success">Save changes</button>
	            </div>
			    <div class="text-right col-lg-4">
				</div>		
	        </div>	
    	</form>
 	</div>
</div>
