@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}
@model IEnumerable<MagicMaids.EntityModels.UserAccount>

<div class="content-heading">
    {{ 'pageTitles.settings.USER_ACCOUNTS' | translate }}
</div>

<div class="container-fluid">
   	<h4 class="page-header">User Accounts</h4>

	<div class="panel panel-default" id="panelPostal">
	<!--	<div class="panel-body">
			<div class="form-group">
		      	<label class="col-lg-2 control-label">Select Franchise:</label>
		      	<div class="col-lg-10">
					<select name="account" class="form-control">
		                <option value="">Select Franchise</option>	
						<option value="NM">North Metro</option>
						<option value="SW">South West</option>
						<option value="TA">Tasmania</option>
		          	</select>	
				</div>
			</div>
		</div>
	</div>-->
	
	<div class="table-responsive">
		<table class="table table-bordered table-hover bg-white ctable">
	      	<tr style="font-weight: bold">
	         	<td class="text-center">Name</td>
	         	<td style="width:10%" class="text-center">User Name</td>
	         	<td style="width:10%" class="text-center">Account Type</td>
				<td class="text-center">Master Franchise</td>
				<td style="width:5%" class="text-center">Active</td>
				<td style="width:5%" class="text-center"></td>
	      	</tr>
			@foreach (var user in Model)
	    	{
				<tr valign="top">
					<td>@user.FullName</td>
					<td>@user.UserName</td>
					<td style="white-space: nowrap">
						@Html.Raw(user.AccountTypeHtml)
					</td>
					<td><!--@user.ParentFranchise--></td>
					<td class="text-center">
						<label class="switch">
	                     	<input type="checkbox" checked="@user.IsActive" />
	                     	<span></span>
	                  	</label>
	               	</td>
					<td style="white-space: nowrap">
			            <!-- form-->
			            <div class="buttons">
						   <a ui-sref="app.settings_user_account_details">
			               <button title="Edit" class="btn btn-sm btn-info">
			                  <em class="fa fa-pencil"></em>
			               </button></a>
			               <button title="Delete" class="btn btn-sm btn-danger">
			                  <em class="fa fa-trash"></em>
			               </button>
			            </div>
			         </td>
				</tr>
			}
		</table>
		<!-- buttons-->
		<button ng-click="$state.go('app.settings_user_account_details')" class="btn btn-primary">Add User Account</button>
	</div>
</div>	