@using VersionLibrary;
<span class="col-md-6">&copy; {{app.year}} - {{ app.name }} - version @(Html.Version())</span>
<span class="text-right col-lg-6 col-md-6 col-xs-6">@DateTimeWrapper.DisplayLocalNow() (@CultureHelper.UserTimeZoneName())</span>
