<?xml version="1.0" encoding="utf-8"?>

<!-- For more information on using web.config transformation visit https://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    In the example below, the "SetAttributes" transform will change the value of 
    "connectionString" to use "ReleaseSQLServer" only when the "Match" locator 
    finds an attribute "name" that has a value of "MyDB".
  -->  
    <connectionStrings>
      <add name="MagicMaidsContext" connectionString="Driver={MySQL ODBC 3.51 Driver};Server=localhost;Database=magicman_context;User=magic_newmaids;Password=t0w3rvr1end3;Option=3;" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  <appSettings>
    <add key="ida:Tenant" value="magicmansys.onmicrosoft.com" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="ida:ClientId" value="06fb5ce3-030e-4585-aaa0-e44916d4eaff" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="ida:ClientSecret" value="iKML07Sn1a51UOzZ3BiG[k9r" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    <add key="ida:RedirectUri" value="https://magicmansys.com/" xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
  </appSettings>
  <system.web>
    <compilation xdt:Transform="RemoveAttributes(debug)" />
    <!--
      In the example below, the "Replace" transform will replace the entire 
      <customErrors> section of your web.config file.
      Note that because there is only one customErrors section under the 
      <system.web> node, there is no need to use the "xdt:Locator" attribute.
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>