/**
    Override Angle default styles
    Brings clarity by adding independent styles required for MVC projects
*/



.preloader-progress {
  background-image: url(/Images/preloader/preloader.empty.png);
}

.preloader-progress-bar {
  background-image: url(/Images/preloader/preloader.full.png);
}

/** STAR Rating Control */
div.stars {
  width: 240px;
  display: inline-block;
}

input.star { display: none; }

label.star {
  float: right;
  padding: 0px 10px 0px 0px;
  font-size: 30px;
  color: #919DA8 !important;
  transition: all .2s;
}

.starRating {
    /*color: #919DA8 !important;*/
    color: goldenrod !important;
    font-size: 18px;
}

input.star:checked ~ label.star:before {
	content: '\f005';
	color: #FD4;
	transition: all .25s;
}

input.star-6:checked ~ label.star:before {
	color: #FE7;
	text-shadow: 0 0 20px #952;
}

input.star-1:checked ~ label.star:before { color: #F62; }

label.star:hover { transform: rotate(-15deg) scale(1.3); }

label.star:before {
  content: '\f006';
  font-family: FontAwesome;
}
/** STAR Rating Control END */

.nopadding {
   padding: 0 !important;
   margin: 0 !important;
}

.EmptyResults {
	text-align: center;
	background-color: #f9efef;
	font-style: italic;
}

.ngdialog.ngdialog-theme-default.custom-width-800 .ngdialog-content {
	width: 800px;
}

.ngdialog.ngdialog-theme-default.custom-width-900 .ngdialog-content {
	width: 900px;
}

.no-border {
	border: 0;
	background-color: transparent !important ;
	box-shadow: none; /* You may want to include this as bootstrap applies these styles too */
}

.no-horizontal-gutter {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    margin-top: 0 !important;
    margin-bottom: 0 !important;
}

#bootstrap-overrides .row  {
	margin: 0;
}

#bootstrap-overrides td {
	padding: 1px 0px 0px 3px;
}

.bg-secondary {
	background-color: #6c757d;
	color: #fff !important;
}

.bg-secondary:hover {
	background-color: #dde6e9;
	color: #6c757d !important;
}

li.availableButton {
	padding-bottom: 4px;
}

button.availableButton {
	height: 55px;
}

.availableButtonBusy {
	height: 55px;
	cursor: none;
	padding-bottom: 2px;
}

.colourMatch_Yellow {
	background-color: #fffd38 !important;
	color: #000 !important;
}

.colourMatch_Blue {
    background-color: #6efffe !important;
    color: #000 !important;
}

.colourMatch_Yellow_Week {
    background-color: #fff693 !important;
    color: #000 !important;
}

.colourMatch_Blue_Week {
    background-color: #d3eaed !important;
    color: #000 !important;
}

.colourMatch_Green {
    background-color: #66ff66 !important;
    color: #000 !important;
}

.colourMatch_Orange {
    background-color: #febc02 !important;
    color: #000 !important;
}

/****** FLEXBOX ********/
.row.is-flex {
	display: flex;
	flex-wrap: wrap;
	background-color: #6c757d;
}

	.row.is-flex > [class*='col-'] {
		display: flex;
		flex-direction: column;
		margin-right: 1px;
	}

/*
* And with max cross-browser enabled.
* Nobody should ever write this by hand. 
* Use a preprocesser with autoprefixing.
*/
.row.is-flex {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-wrap: wrap;
	-ms-flex-wrap: wrap;
	flex-wrap: wrap;
	background-color: #6c757d;
}

	.row.is-flex > [class*='col-'] {
		display: -webkit-box;
		display: -webkit-flex;
		display: -ms-flexbox;
		display: flex;
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		-webkit-flex-direction: column;
		-ms-flex-direction: column;
		flex-direction: column;
		margin-right: 1px;
	}
/***********************/

.strikethrough {
	text-decoration: line-through;
	color: lightgray;
}

#jobAvailabilityButtons li a {
	text-decoration: none;
	display: block;
}

#jobAvailabilityButtons li {
	float: left;
	list-style: none;
	text-align: center;
	margin-right: 8px;
}

.ClashDates_Leave {
    background: #FBE065;
    font-style: italic;
    text-align: left;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 5px;
    cursor: default;
}

.ClashDates_OneOffSingle {
    background: #ffebcc;
    color: black;
    font-style: italic;
    text-align: left;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 5px;
    cursor: default;
}

.ClashDates_OneOffMultiple {
    background: #e0ccff;
    color: black;
    font-style: italic;
    text-align: left;
    margin-bottom: 5px;
    border-radius: 5px;
    padding-left: 5px;
    cursor: default;
}

.Jobs_Available {
    /*margin-bottom: 5px;*/
    margin-right: 4px;
    text-align: left;
    border: 1px solid dimgray;
    border-radius: 4px;
    padding-left: 3px;
    padding-right: 3px;
    background-color: darkslategray;
    text-decoration: none;
    color: antiquewhite;
    transition: background-color linear 0.2s;
    height: 20px;
    display: inline-block;
    vertical-align: top;
}

    .Jobs_Available:hover {
        background-color: dimgray;
        text-decoration: none;
        color: antiquewhite;
        
    }

.Jobs_Not_Available {
    /*margin-bottom: 5px;*/
    margin-right: 4px;
    text-align: left;
    cursor: default;
    border: 1px solid dimgray;
    border-radius: 4px;
    display: inline-block;
    color: antiquewhite;
    height: 20px;
    vertical-align: top;
}

.Job_Repeater {
    display: inline-block;
}

.Jobs_Not_Available_Div {
    background-color: #f47f7f;
    padding-left: 3px;
    padding-right: 3px;
    border-radius: 4px;
    height: -webkit-fill-available;
}

.Display_ServiceDate {
    /*padding: 10px 20px 10px 20px;*/
    border-radius: 5px;
    font-weight: 700;
    text-align: left;
    margin-bottom: 2px;
    
}

.Week_Job_Container {
    padding-left: 3px;
    padding-right: 3px;
    padding-bottom: 3px;
    display: block;    
}

td {
    vertical-align: top !important;
}

.Repeat_Job {
    background-color: #f47f7f;
    color: antiquewhite;
}

.One_Off_Job {
    background: #ffebcc;
    color: darkslategrey;
}

.ContactDetails {
    /*margin-bottom: 10px;*/
    padding: 2px;
    /*font-size: 15px;*/
}

    .ContactDetails .Icon {
        width: 20px;
        margin-right: 5px;
    }

.Zone {
    padding-left: 2px;
    border: 1px solid dimgray;
    border-radius: 4px;
    margin-bottom: 2px;
}

table {
    font-size: 12px;
}

.Weekday_Table {
    width: 100%;
}

.Schedule_Table td {
    border-left: 1px solid darkgray;
    border-bottom: 1px solid darkgray;
    width: 1.78%;
    color: gray;
}
    
   .Schedule_Table tr {
        height: 20px;
    }

   /*.Schedule_Row td {
       transition: all linear 0.2s;
   }*/

    .Schedule_Row td:hover {
        background-color: cadetblue;
    }


.tableSchedule {
    font-family: 'Montserrat', sans-serif;
    font-size: 11px;
    color: #000000; /* #c4c4c4*/
    border-spacing: 0px !important;
}

    /*.tableSchedule tr {
        height: 25px;
    }*/

.trTimeline {
    background-color: ghostwhite;
}

.calendarContainer {
    position: relative;
    margin-left: 2px;
    transition: all 0.3s ease-in;
    white-space: nowrap;
    min-height: 10px;
}

.timelineContainer {
    background-color: ghostwhite;
    position: relative;
    margin-left: 2px;
    white-space: nowrap;
}

.jobDetails {
    display: inline-block;
    color: cornsilk;
    opacity: 0.85;
    /* transition: all 0.15s ease-in;     */
    /*vertical-align: center;*/
}

    .jobDetails:hover {
        /* transform: scale(1.03);  */
        opacity: 1;
    }

.dayDate {
    color: #a0a0a0;
    /*min-width: 100px;*/
}

    .dayDate span {
        margin-left: 3px;
    }

.timeLine {
    color: #c4c4c4;
}

.weekOne {
    background-color: #6EFFFE !important;
}

.weekTwo {
    background-color: #FFFD38 !important;
}

.rosterDay {
    min-width: 70px;
}

