@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>Connection Validator - @DateTime.Now</title>
</head>
	<body>
		<h3>Connection Validator - @DateTime.Now</h3>
		<div><pre>@TempData["results"]</pre></div>

		<div><pre>Execution Time: @TempData["timer"]</pre></div>
		
	</body>
</html>

