@{
	// This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}

<div class="abs-center wd-xs">
   <!-- START panel-->
   <div class="text-center mb-xs">
      <div class="text-xs mb-xs">404</div>
      <p class="lead m0">We couldn't find this page @ViewBag.Path</p>
      <p>The page you are looking for does not exists.</p>
   </div>
  
   <ul class="list-inline text-center text-xs mb-xs">
      <li><a href="" ui-sref="app.dashboard" class="text-muted">Go to App</a>
      </li>
      @*<li class="text-muted">|</li>
      <li><a href="" ui-sref="page.login" class="text-muted">Login</a>
      </li>
      <li class="text-muted">|</li>
      <li><a href="" ui-sref="page.register" class="text-muted">Register</a>
      </li>*@
   </ul>
   <div class="p-lg text-center">
      <span>&copy;</span>
      <span ng-bind="app.year"></span>
      <span>-</span>
      <span ng-bind="app.name"></span>
      <br/>
      <span ng-bind="app.description"></span>
   </div>
</div>