@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}


<div class="content-heading">
    {{ 'pageTitles.cleaners.MAIN_SEARCH' | translate }}
</div>


<div ng-controller="MainSearchController as form" id="mainWrap">
    @Html.Partial("_InformationDetails")

    <div class="panel panel-default" id="searchCriteria">
        <div class="panel-heading">
            <paneltool tool-collapse="tool-collapse"></paneltool>
            <div class="panel-title">Search Criteria</div>
        </div>
        <div uib-collapse="searchCriteria" class="panel-wrapper">
            <div class="panel-body">
                <form class="form-horizontal">
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Suburb/Postcode</label>
                        <div class="col-xs-4">
                            <input class="form-control" type="text" ng-model="form.Search.Suburb" placeholder="Suburb" uib-typeahead="address for address in form.SuburbList | filter:$viewValue | limitTo:10" uib-typeahead-loading="loadingLocations" />
                            <i class="glyphicon glyphicon-refresh" ng-show="loadingLocations"></i><br />
                            <div>
                                <label class="checkbox checkbox-inline">
                                    <input type="checkbox" name="RequireIroning" id="RequireIroning" ng-model="form.Search.RequireIroning" />
                                    Requires Ironing?
                                </label>
                            </div>
                        </div>
                        <label class="col-xs-2 control-label"><br />Duration (hh:mm)</label>
                        <div class="col-xs-4" style="white-space: nowrap">
                            <div uib-timepicker="uib-timepicker" mousewheel="false" ng-model="form.Search.ServiceLengthForControl" hour-step="form.hrStep" minute-step="form.minStep" show-meridian="false"></div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Service request</label>
                        <div class="col-xs-4">
                            <label class="radio-inline">
                                <input id="inlineFortnight" name="serviceType" type="radio" value="F" ng-model="form.Search.ServiceType"
                                       ng-change="changeServiceType()" ng-disabled="form.Search.FilterZonesNone == true" />
                                <span ng-cloak data-ng-class="form.Search.FilterZonesNone == true && 'strikethrough' || 'null'">Fortnightly</span>
                            </label>
                            <label class="radio-inline">
                                <input id="serviceWeekly" name="serviceType" type="radio" value="W" ng-model="form.Search.ServiceType"
                                       ng-change="changeServiceType()" checked="" ng-disabled="form.Search.FilterZonesNone == true" />
                                <span ng-cloak data-ng-class="form.Search.FilterZonesNone == true && 'strikethrough' || 'null'">Weekly</span>
                            </label>
                            <label class="radio-inline">
                                <input id="inlineOne" name="serviceType" type="radio" value="O" ng-model="form.Search.ServiceType" ng-change="changeServiceType()" />One-off
                            </label>
                            <label class="radio-inline">
                                <input id="inlineOne" name="serviceType" type="radio" value="V" ng-model="form.Search.ServiceType" ng-change="changeServiceType()" />Vacate Clean
                            </label>
                        </div>
                        <label class="col-xs-2 control-label">
                            <span ng-if="form.Search.OneOffJob || form.Search.VacateClean">Date required</span>
                            <span ng-if="!form.Search.OneOffJob && !form.Search.VacateClean">Preferred day</span>
                        </label>
                        <div class="col-xs-4">
                            <p class="input-group" ng-if="form.Search.OneOffJob || form.Search.VacateClean">
                                <input class="form-control" type="text" name="date" required="" uib-datepicker-popup="{{form.date.format}}" ng-model="form.Search.ServiceDate"
                                       is-open="form.date.opened" min-date="form.date.minDate" max-date="'form.date.maxDate'" uib-datepicker-options="form.date.dateOptions"
                                       date-disabled="form.date.disabled(date, mode)" close-text="Close" />
                                <span class="input-group-btn">
                                    <button class="btn btn-default" type="button" ng-click="form.date.open($event)">
                                        <em class="fa fa-calendar"></em>
                                    </button>
                                </span>
                            </p>
                            <p class="input-group" ng-if="!form.Search.OneOffJob && !form.Search.VacateClean">
                                <select class="form-control" name="ServiceDay" ng-model="form.Search.ServiceDayValue" ng-change="changeServiceDay()">
                                    <option value="1">Monday</option>
                                    <option value="2">Tuesday</option>
                                    <option value="3">Wednesday</option>
                                    <option value="4">Thursday</option>
                                    <option value="5">Friday</option>
                                    <option value="6">Saturday</option>
                                    <option value="7">Sunday</option>
                                </select>
                            </p>
                        </div>

                    </div>
                    <div class="form-group">
                        <label class="col-xs-2 control-label">Return customer?</label>
                        <div class="col-xs-10">
                            <label class="radio-inline"><input id="inlineRpt" name="repeatCustomer" type="radio" value="Y" ng-model="form.Search.RepeatCustomer" />Yes</label>
                            <label class="radio radio-inline"><input id="inlineNew" name="repeatCustomer" type="radio" value="N" ng-model="form.Search.RepeatCustomer" checked="" />No</label>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="col-xs-2 control-label">Cleaner zones</label>
                        <div class="col-xs-4">
                            <label class="checkbox checkbox-inline">
                                <input type="checkbox" checked name="IsActive" ng-model="form.client.IsActive" />
                                <input id="chkZonePrimary" name="chkZonePrimary" type="checkbox" ng-model="form.Search.FilterZonesPrimary"
                                       ng-disabled="form.Search.FilterZonesNone == true" />
                                <span ng-cloak data-ng-class="form.Search.FilterZonesNone == true && 'strikethrough' || 'null'">Primary</span>
                            </label>
                            <label class="checkbox-inline">
                                <input id="chkZoneSecondary" name="chkZoneSecondary" type="checkbox" ng-model="form.Search.FilterZonesSecondary"
                                       ng-disabled="form.Search.FilterZonesNone == true" />
                                <span ng-cloak data-ng-class="form.Search.FilterZonesNone == true && 'strikethrough' || 'null'">Secondary</span>
                            </label>
                            <label class="checkbox-inline">
                                <input id="chkZoneApproved" name="chkZoneApproved" type="checkbox" ng-model="form.Search.FilterZonesApproved"
                                       ng-disabled="form.Search.FilterZonesNone == true" />
                                <span ng-cloak data-ng-class="form.Search.FilterZonesNone == true && 'strikethrough' || 'null'">Approved</span>
                            </label>
                            <label class="checkbox-inline">
                                <input id="chkZoneNoFilter" name="chkZoneNoFilter" type="checkbox" ng-model="form.Search.FilterZonesNone" ng-change="changeZoneFilter()" />Ignore Zones
                            </label>
                        </div>
                        <label class="col-xs-2 control-label">Filter rating</label>
                        <div class="col-xs-1">
                            <select class="form-control" name="Rating" ng-model="form.Search.FilterRating">
                                <option value="5" selected="selected">5+</option>
                                <option value="4">4+</option>
                                <option value="3">3+</option>
                                <option value="2">2+</option>
                                <option value="0">None</option>
                            </select>
                        </div>
                        <div class="col-xs-3">
                        </div>
                    </div>

                    <div class="form-group">
                        <div class="col-xs-offset-2 col-xs-5">
                            <!-- buttons-->
                            <button type="button" class="btn btn-default" ng-click="clearForm()">Reset</button>
                            <button type="button" class="btn btn-info" ng-click="searchMatches()">Search</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <div class="panel panel-transparent" id="panelMainResults" ng-show="form.hasSearched">
        <div class="panel-heading">
            <div class="form-group">
                <div class="pull-right">
                    <paneltool tool-refresh="traditional" ng-show="isLoadingResults"></paneltool>
                </div>
            </div>Search Results
        </div>
        <div class="panel-body">
            <div ng-hide="form.SearchResults.length" class="EmptyResults p-lg text-center">
                No cleaners found with the current search criteria.
            </div>
            <div class="table-responsive" ng-show="form.SearchResults.length">
                <table datatable="ng" class="table table-bordered table-hover bg-white ctable no-horizontal-gutter" dt-options="dtOptions" style="width: 95%;">
                    <thead style="font-weight: bold" class="no-horizontal-gutter">
                        <tr>
                            <th class="text-left" style="width: 12%;">
                                Cleaner Details
                            </th>
                            <th class="text-left" style="width: 12%;">
                                Zones
                            </th>
                            <th class="text-left" style="width: 76%;">

                            </th>
                        </tr>
                    </thead>
                    <tbody style="padding: 0px; margin: 0px">
                        <tr ng-repeat="cleaner in form.SearchResults" id="bootstrap-overrides">

                            <td>
                                <div class="ContactDetails">
                                    <a ui-sref="app.cleaner_details({ CleanerId: cleaner.Id })">
                                        <strong>{{cleaner.FirstName}} {{ cleaner.LastName }}</strong>
                                    </a>
                                </div>
                                <div class="ContactDetails">
                                    <strong>Team Size:</strong> {{cleaner.TeamSize}}
                                </div>
                            </td>

                            <td>
                                <div class="{{cleaner.StyleHomeBase}}">
                                    <strong>Base Suburb:</strong> {{cleaner.DisplayHomeBase}}
                                </div>
                                <div class="{{cleaner.StyleZoneClass}}">
                                    <strong>Zone Class:</strong> {{cleaner.ZoneClass}}
                                </div>
                                <div class="ContactDetails">
                                    <a onclick="alert('Diary coming soon'); return false;" style="text-decoration: none; cursor: pointer;">
                                        <strong>Diary</strong>
                                    </a>
                                </div>
                            </td>

                            <td class="text-left">
                                <draw-schedule cleaner="cleaner" search-criteria="form.Search"></draw-schedule>
                            </td>

                        </tr>
                    </tbody>
                </table>
            </div>
            <br />
            <div class="form-group">
                <div class="pull-right">
                    <div class="dataTable" id="bootstrap-overrides">
                        <div class="row is-flex">
                            <div class="text-center col-xs" style="color: white;"><em>Zone Legend</em></div>
                            <div class="text-center colourMatch_Blue small col-xs">Primary zone</div>
                            <div class="text-center colourMatch_Green small col-xs">Secondary zone</div>
                            <div class="text-center colourMatch_Orange small col-xs">Approved zone</div>
                            <div class="text-center colourMatch_Blue small col-xs">1st Job</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
