@{
    // This is requried for AngularJS because we have to send only the view markup (not within the layout)
    Layout = null;
}


<div class="content-heading">
    {{ 'pageTitles.cleaners.MAIN_SEARCH' | translate }}
</div>


<div ng-controller="MainSearchController as form">
	@Html.Partial("_InformationDetails")

	<div class="panel panel-default" id="searchCriteria">
		<div class="panel-heading">
            <paneltool tool-collapse="tool-collapse" ></paneltool>
			<div class="panel-title">&nbsp</div>
        </div>
		<div uib-collapse="searchCriteria" class="panel-wrapper">
			<div class="panel-body">
				<form class="form-horizontal">
					<div class="form-group">
			          	<label class="col-xs-2 control-label">Suburb/Postcode</label>
			          	<div class="col-xs-4">
			             	<input type="text" placeholder="Suburb" class="form-control" ng-model="form.Search.Suburb" />
			          	</div>
						<label class="col-xs-2 control-label">Duration (hours)</label>
			          	<div class="col-xs-2" style="white-space: nowrap">
							<input type="text" ng-model="form.Search.ServiceLength" class="form-control" placeholder="Hours" maxlength="4"/>
			          	</div>
				  		<div class="col-xs-2">
							<div class="checkbox c-checkbox">
		                  		<label>
		                     		<input type="checkbox" checked="false" name="RequireIroning" id="CopyToPostal" ng-model="form.Search.RequireIroning"/>
		                     		<span class="fa fa-check"></span>Requires Ironing?
								</label>
		               		</div>
				      	</div>
			       	</div>
					<div class="form-group">
			          	<label class="col-xs-2 control-label">Service request</label>
			          	<div class="col-xs-4">
			             	<label class="radio radio-inline"><input id="serviceWeekly" name="serviceType" type="radio" value="W" ng-model="form.Search.ServiceType" ng-change="changeServiceType()" checked="" />Weekly</label>
	                  		<label class="radio-inline"><input id="inlineFortnight" name="serviceType" type="radio" value="F" ng-model="form.Search.ServiceType" ng-change="changeServiceType()"/>Fortnightly</label>
	                  		<label class="radio-inline"><input id="inlineOne" name="serviceType" type="radio" value="O" ng-model="form.Search.ServiceType" ng-change="changeServiceType()"/>One-off</label>
							<label class="radio-inline"><input id="inlineOne" name="serviceType" type="radio" value="V" ng-model="form.Search.ServiceType" ng-change="changeServiceType()"/>Vacate Clean</label>
			          	</div>
						<label class="col-xs-2 control-label">
							<span ng-if="form.Search.OneOffJob || form.Search.VacateClean">Date required</span>
							<span ng-if="!form.Search.OneOffJob && !form.Search.VacateClean">Preferred day</span>
						</label>
			          	<div class="col-xs-4">
							<p class="input-group" ng-if="form.Search.OneOffJob || form.Search.VacateClean">
	                          <input class="form-control" type="text" name="date" required="" uib-datepicker-popup="{{form.date.format}}" ng-model="form.Search.ServiceDate" 
	                          		is-open="form.date.opened" min-date="form.date.minDate" max-date="'form.date.maxDate'" uib-datepicker-options="form.date.dateOptions"
	                          		date-disabled="form.date.disabled(date, mode)" close-text="Close" />
	                          <span class="input-group-btn">
	                             <button class="btn btn-default" type="button" ng-click="form.date.open($event)">
	                                <em class="fa fa-calendar"></em>
	                             </button>
	                          </span>
	                       	</p>
							<p class="input-group" ng-if="!form.Search.OneOffJob && !form.Search.VacateClean">
								<select class="form-control" name="ServiceDay" ng-model="form.Search.ServiceDayValue" ng-change="changeServiceDay()">
									<option value="1">Monday</option>
									<option value="2">Tuesday</option>
									<option value="3">Wednesday</option>
									<option value="4">Thursday</option>
									<option value="5">Friday</option>
									<option value="6">Saturday</option>
									<option value="7">Sunday</option>
								</select>
							</p>
						</div>
			          	
			       	</div>
					<div class="form-group">
						<label class="col-xs-2 control-label">Zones to match</label>
						<div class="col-xs-4">
							<label class="checkbox checkbox-inline">
								<input type="checkbox" checked="true" name="IsActive" ng-model="form.client.IsActive" />

								<input id="chkZonePrimary" name="chkZonePrimary" type="checkbox" ng-model="form.Search.FilterZonesPrimary"  />Primary
							</label>
							<label class="checkbox-inline">
								<input id="chkZoneSecondary" name="chkZoneSecondary" type="checkbox" ng-model="form.Search.FilterZonesSecondary" />Secondary
							</label>
							<label class="checkbox-inline">
								<input id="chkZoneApproved" name="chkZoneApproved" type="checkbox" ng-model="form.Search.FilterZonesApproved"  />Approved
							</label>
							<label class="checkbox-inline">
								<input id="chkOther" name="chkOther" type="checkbox" ng-model="form.Search.FilterZonesOther"  />Other
							</label>
						</div>
						<label class="col-xs-2 control-label">Filter rating</label>
						<div class="col-xs-1">
							<select class="form-control" name="Rating" ng-model="form.Search.FilterRating">
								<option value="5" selected="selected">5+</option>
								<option value="4">4+</option>
								<option value="3">3+</option>
								<option value="2">2+</option>
								<option value="0">None</option>
							</select>
						</div>
						<div class="col-xs-3">
						</div>
					</div>

					<div class="form-group">
						<div class="col-xs-offset-2 col-xs-5">
							<!-- buttons-->
							<button type="button" class="btn btn-default" ng-click="clearForm()">Reset</button>
							<button type="button" class="btn btn-info" ng-click="searchMatches()">Search</button>
						</div>
						<div class="text-right col-xs-5">
							<button type="button" ng-click="$state.go('app.client_details')" class="btn btn-primary">
								<em class="fa fa-plus-circle fa-fw mr-sm"></em>New Customer
							</button>
							<button type="button" ng-click="$state.go('app.cleaner_details')" class="btn btn-primary">
								<em class="fa fa-plus-circle fa-fw mr-sm"></em>New Cleaner
							</button>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>

	<div class="panel panel-transparent" id="panelMainResults" ng-show="form.hasSearched">
		<div class="panel-heading">
			<div class="form-group">
				<div class="pull-right">
					<paneltool tool-refresh="traditional" ng-show="isLoadingResults"></paneltool>
	          	</div>
            </div>Search Results
		</div>
		<div class="panel-body">
			<div ng-hide="form.SearchResults.length" class="EmptyResults p-lg text-center">
				No cleaners found with the current search criteria.
			</div>
			<div class="table-responsive" ng-show="form.SearchResults.length" >
				<table datatable="ng" class="table table-bordered table-hover bg-white ctable" dt-options="dtOptions">
					<thead style="font-weight: bold">
			         	<th  class="text-center">Cleaner</th>
						<th class="text-center" ng-hide="true" >Rating</th>
			         	<th  class="text-center">Gap</th>
						<th  class="text-center">Locality</th>
						<th style="width:5%" class="text-center"></th>
					</thead>  
			      	<tbody>
						<tr valign="top" ng-repeat="cleaner in form.SearchResults">
							<td>
								{{cleaner.FirstName}} {{ cleaner.LastName }}<br />
								<span uib-rating ng-model="cleaner.Rating" max="6" read-only="true" state-on="'fas fa-star'" state-off="'fa fa-star-o'" class="starRating"></span>
								<br /><br />
								<div style="font-size: smaller;" >
									<b>Contact Details:</b><br />
									<span class="fa fa-envelope"></span>&nbsp;<a href="mailto:{{ cleaner.EmailAddress }}">{{ cleaner.EmailAddress }}</a><br/>
									<span ng-bind-html="cleaner.FormattedContactNumbers"></span>
								</div>
							</td>
							<td class="text-center" ng-hide="true">{{cleaner.Rating}}</td>
							<td style="white-space: nowrap"><i>gaps will be listed here</i>
			               	</td>
							<td style="white-space: nowrap" ng-bind-html="cleaner.DisplayLocation"></td>
							<td style="white-space: nowrap">
					            <!-- form-->
								<div class="buttons">
								   <a ui-sref="app.cleaner_details({ CleanerId: cleaner.Id })">
					               <button title="Select" class="btn btn-xs btn-info">Select</button></a>
					            </div>
					         </td>
						</tr>
					</tbody>
				</table>
			</div>
			<br/>
			<div class="form-group">
				<div class="pull-right">
					<table class="dataTable">
						<tr>
							<td>Location match:&nbsp; </td>
							<td width="5px" class="text-center bg-warning-light">Approved</td>
							<td width="5px" class="text-center bg-green-light">Secondary</td>
							<td width="5px" class="text-center bg-primary-light">Primary/First Job</td>
						</tr>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
